.container {
    flex: 1;
    border: 1px solid var(--gold);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 50px 20px inset;
    background-image: url('../../assets/greenbackground.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 900px) {
    .container {
     flex-direction: column;
    }
 }






