@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --gold: #FFCD00;
  --green: #00843D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}