.button {
    margin-right: 10px;
}

.container {
    display: none;
}

.dropdown {
    border: 1px solid var(--gold);
    padding: 1rem;
    height: auto;
    width: auto;
    position: absolute;
    top: 100%;
    right: 0;
    background-image: url('../../../assets/greenbackground.jpg');
    z-index: 3;

}

@media screen and (max-width: 900px) {
    .container {
        display: block;
    }
}